{% extends "base.html" %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <br>
    <form method="POST" action="{% url 'snippet_edit' snippet.pk %}">
      {% csrf_token %}

      {% if form.error %}
      <div class="alert alert-danger" role="alert">
        {{ form.error.msg }}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre del Snippet" name="name"
          value="{{snippet.name}}" />
      </div>
      <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" id="description" aria-describedby="Description"
          placeholder="Descripcion" name="description" value="{{snippet.description}}" />
      </div>
      <div class="form-group">
        <label for="language_id">Lenguaje</label>
        <select class="form-control" id="language_id" name="language_id">
          {% for language in languages %}
          {% if snippet.language.id == language.id %}
          <option value="{{ language.id }}" selected>{{ language.name }}</option>
          {% else %}
          <option value="{{ language.id }}">{{ language.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="public">Tipo</label>
        <select class="form-control" id="public" name="public">
          {% if snippet.public %}
          <option value="public" selected>Publico</option>
          <option value="private">Privado</option>
          {% else %}
          <option value="public">Publico</option>
          <option value="private" selected>Privado</option>
          {% endif %}
        </select>
      </div>

      <div class="form-group">
        <label for="snippet">Snippet</label>
        <textarea class="form-control" id="snippet" rows="5" name="snippet">{{ snippet.snippet }}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Editar</button>
    </form>
  </div>
</div>
{% endblock %}